<div class="page-header">
	<h1>Course List</h1>
</div>
<div class="row" data-access-level='accessLevels.user'>
	<div class="col-xs-5">
		<a href="/new" class="btn btn-default"><span class="glyphicon glyphicon-plus"></span> New Course</a>
	</div>
	<div class="col-xs-7">
		<input type="text" class="form-control" ng-model="query" placeholder="Search for a course">
	</div>
</div>
<div class="row">
	<div class="col-xs-12"><hr></div>
</div>
<div class="row" ng-switch on="polls.length">
	<ul ng-switch-when="0">
		<li><em>No course in databases. <div data-access-level='accessLevels.user'>Would you like to <a href="/course_new">create one</a>? </div></li>
	</ul>
	<ul ng-switch-default>
		<li ng-repeat="course in courses | filter:query">
			<a href="/course/{{course._id}}">{{course.title}}</a>
		</li>
	</ul>
</div>
<p>&nbsp;</p>