//img(src="img/index/visual_img.jpg")

.mainheader
	img(src="img/KAISquare_Front.png")

h1.header
	| Live Education System
	br
	| with Social Learning


p.lead
	| Live Education System with Social Learning'(project code: KAISquare) is a mobile/Web application that enables live and interactive education with social learning concept. There are many applications that support offline lecture with supplements or provide on-demand video lectures through mobile. However, no one can support lectures in live with social interaction and archiving system.
p.lead
	| This project is designed as both mobile and Web application and has following two distinctive outstanding features: The first one is the online participation through a SNS (Social Network Service, currently with Twitter in live class so that students can interact not only with the lecturer or students in the class but also with ones in remote during the class. The second one is the archiving manner that makes the lecture with searchable and accessible form with interaction logs and annotations so that can be addressed or utilized effectively after the class.
	
//Live lectures