h2 About KAISquare

label( style="background-color:#ebe5e3; padding:15px;")
	| KAISquare is the Smart u-Learning solution developed by KAIST Broadband Network Lab. KAISquare is open and available to the world and is developed as open project.
	
p(style="font-size:17px; color:#754c24;font-weight:bold")
	| KAISquare
	
p(style="font-size:13px;")
	font(color="#e69500", style="font-weight:bold")
		| "We want make the world different."
	| From this slogan, we start our project which is named as 'KAISquare'.
	| We think the education can be a trigger of change. The education is a different name of the future. To make world nice, happy, and hopeful, we need to provide better education environment without discriminations from many things like poverty, health problem. Online, mobile education solution is a good approach for achieving it. It overcomes geographical limitation and time limitation. People who live in developing countries or disabled people who can't go school also can learn something in online. Wireless, mobile approach boosts the strength of online education. Most of developing countries have better wireless, including Wireless LAN, 2G, 3G communication, infrastructure compared with wired one. Mobile also gives more freedom to people. Of course, this is very helpful disabled people.From these idea, Smart ubiquitous learning solution 'KAISquare' is designed and developed.

p(style=" font-size:13px;")
	| Traditional e-Learning solutions have restricted user environment with PC. It also depends on special architecture or platform.KAISquare aims to get rid of these restrictions. KAISquare is a fully opened solution. Open API will be provided freely.We want support as many mobile platforms as possible but we also sure that it is impossible by ourselves. Therefore we make whole system support Web standard. We expect that many people in the world take part in our idea and make our system perfect. Ultimately, we hope that everyone can enjoy KAISquare with any device in any places.
br
<hr size="2" width="180" align="left" noshade color="gray"/>

p(style=" font-size:12px; font-style:italic")
	| The reason why mobile phones are so valuable to people in the poor world is that they are providing access to telecommunications for the every first time, rather than just being portable adjuncts to existingfixed-line phones, as in the rich world. "For you it was incremental-here it's revolutionary," says Isaac Nsereko of MTN, Africa's biggestoperator. According to a recent study, adding an extra ten mobile phones per 100 people in a typical developing country boosts growth in GDP per person by 0.8 percentage points.
p(align="right", style=" font-size:10px; font-weight:bold")
	| - The Economist, "Mobile Marvels, a SpecialReport on Telecoms in Emerging Markets," 9/24/09
br
br
p(style=" font-size:17px; color:#754c24;font-weight:bold")
	| Introduction to KAISquare system
p(style=" font-size:13px;")
	| The KAISquare system is a system designed to give interactive and social learning environment for emerging devices. 
	br
	| It consists of three part; Smart u-Leaning Server, Smart u-Lecture, Smart u-Client.
				
ul(style=" font-size:13px;")
	li
		| Smart u-Learning server provides encoding and streaming function with consideration for various devices.
	li
		| Smart u-Lecture consists of two major functional blocks; back office pages for management course/lecture and smart teaching page. Lecturer can manage the lecture in back office which are implemented in the Web with common interface. Smart teaching page is used while in lecture. It provides general lecture functions like connection for SNS and interface for interactive such as pop quiz, curious graph. Generally, 2 screens for lecture note, SNS relay and 1 PC monitor for smart teaching page are used in the lecture.
	li
		| Smart u-Client contains many functions such as live streaming and VoD lecture view, interactive features like curious button (Q!), short messaging, picture and voice sharing using the SNS. Smart u-Client has two major form, Web service for PC and mobile App. Through it, people can directly join social network for live contents.
center
	img#intro_image(src="img/introduction/system.png")
					