link(href="/css/lapp.css", rel="stylesheet", type="text/css")
//link(href="/css/rtwitter.css", rel="stylesheet", type="text/css")
link(href="/css/twitter.css", rel="stylesheet", type="text/css")

div#content()
	#timer
	#left_video()
		#video()
			div(data-ng-switch on="lecture.status")
				div(data-ng-switch-when="1")
					//iframe(src="http://acloud01.kaist.ac.kr:55555/student.html?ltid=1&width=640&height=480", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
					div(data-ng-switch on="thisUserCtrl")
						iframe(data-ng-switch-when="8", src="{{trustSrc(streamingURL+'lecturer.html?ltid='+ lectureId+'&video_width=640&video_height=480')}}", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
						iframe(data-ng-switch-default, src="{{trustSrc(streamingURL+'student.html?ltid='+ lectureId+'&width=640&height=480')}}", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
				div(data-ng-switch-when="0")
					video(lapp-video, width="640px",height="480px",autoplay,preload,controls,src="{{trustSrc(lecture.vod_url)}}")
		#util(data-ng-switch on="thisUserCtrl")
			div(data-ng-switch-when="8", data-ng-switch on="lecture.status")
				div#lecture_ctrl(data-ng-switch-when="1")
					button#lecture_start.btn.btn-success.q_button.big_font(type="button", data-ng-click="start_lecture()")
						span.glyphicon.glyphicon-play()
					button#lecture_stop.btn.q_button.big_font(type="button", data-ng-click="pause_lecture()")
						span.glyphicon.glyphicon-pause()
					button#lecture_stop.btn.btn-danger.q_button.big_font(type="button", data-ng-click="stop_lecture()")
						span.glyphicon.glyphicon-stop()
					button#quiz.btn.btn-primary.quiz_button.big_font(type="button", data-ng-click="make_quiz()")
						span.glyphicon.glyphicon-check()
						| Quiz
			div(data-ng-switch-default)
				button#q_button.btn.btn-primary.q_button.big_font(type="button", data-ng-click="send_q()")
					| Q
				div#live_question
					div#qustion_msg(data-ng-model="quiz")
						label() {{quiz.question}}
						div(data-ng-switch on="quiz.type")
							div(data-ng-switch-default)
								button.btn(type="button", ng-repeat="b in quiz.choice", data-ng-click="quiz_ans_send(b.number)")
									| {{b.text}}
							div(data-ng-switch-when="short")
								input(type="text", data-ng-model="quiz_short_ans")
								button#btn(type="button", data-ng-click="quiz_ans_send(0)")
									| Send
	#right_twit()
		div#chatArea.root.timeline.ltr.customisable-border.twitter-timeline.twitter-timeline-rendered(data-ng-model="chat_log")
			div.stream
				ul#chatList.h-feed
					li.h-entry.tweet.customisable-border(data-ng-repeat="chat in chat_log")
						div.header
							p.dt-updated.permalink(pubdate)
								| {{chat.time}}
							div.h-card.p-author()
								a.u-url.profile()
									span.u-photo.avatar.fa.fa-twitter-square.fa-4x()
									span.p-name.customisable-highlight()
										| {{chat.src_name}} 
						div.e-entry-content
							p.e-entry-title
								| {{chat.message}}
						div.footer.customisable-border
						
					
					
		div#inputArea.timeline-footer(style="overflow:hidden")
			input#inputMessage.tweet-box-button(type="text", data-ng-model="chat_message", style="float:left")
			button#btnChat.btn-send(type="button", data-ng-click="send_chat()")
				| Send
		div#quizStatArea()
			canvas#quizChart(width="380", height="300")	 
	#q()
		div#q_log()
			canvas#chart(width="1080", height="150")
	#attendance()
		div#attend_log(data-ng-model="attendance")
			div#attendee(ng-repeat="user in attendance", data-ng-click="click_user(user.userId)")
				span.u-photo.avatar.fa.fa-twitter-square.fa-4x()
				br
				label
					| {{user.username}}
					