link(href="/css/lapp.css", rel="stylesheet", type="text/css")
link(href="/css/rtwitter.css", rel="stylesheet", type="text/css")

div#content()
	#left_video()
		#video()
			div(data-ng-switch on="lecture.status")
				div(data-ng-switch-when="1")
					iframe(src="http://acloud01.kaist.ac.kr:55555/student.html?ltid=1&width=640&height=480", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
				div(data-ng-switch-when="0")
					video(lapp-video, width="640px",height="480px",autoplay,preload,controls,src="{{trustSrc(lecture.vod_url)}}")
		span.q_button.btn.btn-m
			button#q_button.big_font(type="button", data-ng-click="send_q()")
				| Q
		div#live_question.btn-m
			<div id="question_msg"></div> 
	#right_twit()
		div#chatArea(data-ng-model="chat_log")
			ul#chatList
				li(data-ng-repeat="chat in chat_log")
					| {{chat.time}} :
					| {{chat.src_name}} :
					| {{chat.message}}
		div#inputArea
			input#inputMessage(type="text", data-ng-model="chat_message")
			button#btnChat.btn.btn-default(type="button", data-ng-click="send_chat()")
				| Send 
	#q()
		div#q_log
			<canvas id="chart" width="1080" height="150"></canvas>