meta(name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0, user-scalable=no")
link(href="/css/lapp.css", rel="stylesheet", type="text/css" media="(min-width:640px)")
//link(href="/css/rtwitter.css", rel="stylesheet", type="text/css")
link(href="/css/twitter.css", rel="stylesheet", type="text/css")
link(href="/css/mobile_lapp.css" rel="stylesheet" type="text/css" media="only screen and (max-width:480px)")

//script(src="https://www.google.com/jsapi")
//<script type="text/javascript" src="https://www.google.com/jsapi"></script>

div#content(data-ng-switch on="thisUserCtrl")
	#timer
	#left_video(data-ng-switch on="thisUserCtrl")
		div#v(data-ng-switch on="isMobile")
			div#video(data-ng-switch-when="0" data-ng-switch on="thisUserCtrl")
				div.tutorVideo(data-ng-switch-when="8" data-ng-switch on="lecture.status")
					video#local(data-ng-switch-when="1", lapp-rtclecture, width="320px", height="240px", autoplay, preload, controls, src="{{trustSrc(lecture.vod_url)}}")
					video(data-ng-switch-when="0", lapp-video, width="320px", height="240px", autoplay, preload, controls, src="{{trustSrc(lecture.vod_url)}}")
				div.studentVideo(data-ng-switch-default data-ng-switch on="lecture.status")
					div(data-ng-switch-when="1", lapp-rtcstudent)
						video#remote(autoplay="autoplay")
						video#local(autoplay="autoplay", style="visibility:hidden;")
					video(data-ng-switch-when="0", lapp-video, width="640px",height="480px",autoplay,preload,controls,src="{{trustSrc(lecture.vod_url)}}")
			div#video(data-ng-switch-when="1" data-ng-switch on="thisUserCtrl")
				div.studentVideo(data-ng-switch-default data-ng-switch on="lecture.status")
					div(data-ng-switch-when="1", lapp-rtcstudent)
						video#remote(autoplay="autoplay")
						video#local(autoplay="autoplay", style="visibility:hidden;")
					video(data-ng-switch-when="0", lapp-video, width="320px",height="240px",autoplay,preload,controls,src="{{trustSrc(lecture.vod_url)}}")
		#util(data-ng-switch on="thisUserCtrl")
			div#tutorCtrl(data-ng-switch-when="8", data-ng-switch on="lecture.status")
				div#lecture_ctrl(data-ng-switch-when="1")
					button#lecture_start.btn.btn-success.small_font(type="button", data-ng-click="start_lecture()")
						span.glyphicon.glyphicon-play()
					button#lecture_stop.btn.btn-danger.small_font(type="button", data-ng-click="stop_lecture()")
						span.glyphicon.glyphicon-stop()
					button#quiz.btn.btn-primary.small_font(type="button", data-ng-click="make_quiz()")
						span.glyphicon.glyphicon-check()
						| Quiz
			div#studentCtrl(data-ng-switch-default)
				button#q_button.btn.btn-primary.q_button.big_font(type="button", data-ng-click="send_q()")
					| Q
				div#live_question
					div#qustion_msg(data-ng-model="quiz")
						label() {{quiz.question}}
						div(data-ng-switch on="quiz.type")
							div(data-ng-switch-default)
								button.btn(type="button", ng-repeat="b in quiz.choice", data-ng-click="quiz_ans_send(b.number)")
									| {{b.text}}
							div(data-ng-switch-when="short")
								input(type="text", data-ng-model="quiz_short_ans")
								button#btn(type="button", data-ng-click="quiz_ans_send(0)")
									| Send
		#attendance(data-ng-switch-when="8")
			div#attend_log()
	#right_twit(ng-style="{{stud_chat_css}}")
		div#chatModule()
			div#chatArea.chat.root.timeline.ltr.customisable-border.twitter-timeline.twitter-timeline-rendered(data-ng-model="chat_log")
				div.stream
					ul#chatList
						li.h-entry.tweet.customisable-border(data-ng-repeat="chat in chat_log")
							div.header
								p.dt-updated.permalink(pubdate)
									| {{chat.time}}
								div.h-card.p-author()
									a.u-url.profile()
										span.u-photo.avatar.fa.fa-twitter-square.fa-4x()
										span.p-name.customisable-highlight()
											| {{chat.src_name}} 
							div.e-entry-content
								p.e-entry-title
									| {{chat.message}}
							div.footer.customisable-border
			div#inputArea.chat.timeline-footer()
				input.tweet-box-button#inputMessage(type="text", data-ng-model="chat_message")
				button#btnChat.btn-send(type="button", data-ng-click="send_chat()")
					| Send
		div#quizStatArea(style="width:250px; height:250px; float:left;")
			div#quizChart(google-chart chart="quiz_chart")
		div#kaisqr_canvas(lapp-canvas)
			label
				| Canvas
			canvas#whiteboard(width="320px" height="265px")
			div#colors(ng-repeat="color in canvasStrokeColor")
				span(ng-click="selectColor(color.color)" style="float:left; margin-left:5px; margin-right: 5px;")
					| {{color.color}}
		div#kaisqr_presentation(lapp-presentation)
			label
				| PPT
			img#slide(width="320px" height="240px")
			canvas#slide_pen(width="320px" height="240px")
			div#presentation_controller
				i.fa.fa-arrow-circle-left.fa-3x(ng-click="moveLeft()")
				i.fa.fa-arrow-circle-right.fa-3x(ng-click="moveRight()")
				div#colors(ng-repeat="color in canvasStrokeColor")
					span(ng-click="selectColor(color.color)" style="float:left; margin-left:5px; margin-right: 5px;")
						| {{color.color}}
	#q(data-ng-switch-when="8")
		div#q_log()
			div#q_chart(google-chart chart="q_chart")
			//canvas#chart(width="1080", height="150")