link(href="/css/lapp.css", rel="stylesheet", type="text/css")
link(href="/css/rtwitter.css", rel="stylesheet", type="text/css")

div#content()
	#left_video()
		#video()
			div(data-ng-switch on="lecture.status")
				div(data-ng-switch-when="1")
					//iframe(src="http://acloud01.kaist.ac.kr:55555/student.html?ltid=1&width=640&height=480", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
					div(data-ng-switch on="thisUserCtrl")
						iframe(data-ng-switch-when="8", src="{{trustSrc(streamingURL+'lecturer.html?ltid='+ lectureId+'&video_width=640&video_height=480')}}", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
						iframe(data-ng-switch-default, src="{{trustSrc(streamingURL+'/student.html?ltid='+ lectureId+'&width=640&height=480')}}", frameborder="0", marginwidth="0", marginheight="0", style="width:640px; height:480px;")
				div(data-ng-switch-when="0")
					video(lapp-video, width="640px",height="480px",autoplay,preload,controls,src="{{trustSrc(lecture.vod_url)}}")
		#util(data-ng-switch on="thisUserCtrl")
			div(data-ng-switch-when="8")
				div#lecture_ctrl
					span.q_button.btn.btn-m
						button#lecture_start.big_font(type="button")
							| Start
					span.q_button.btn.btn-m
						button#lecture_stop.big_font(type="button")
							| Stop
					span.q_button.btn.btn-m
						button#quiz.big_font(type="button", data-ng-click="make_quiz()")
							| Quiz
			div(data-ng-switch-default)
				span.q_button.btn.btn-m
					button#q_button.big_font(type="button", data-ng-click="send_q()")
						| Q
				div#live_question.btn-m
					div#qustion_msg(data-ng-model="quiz")
						label() {{quiz.question}}
						div(data-ng-switch on="quiz.type")
							div(data-ng-switch-default)
								button.btn(type="button", ng-repeat="b in quiz.choice", data-ng-click="quiz_ans_send(b.number)")
									| {{b.text}}
							div(data-ng-switch-when="short")
								input(type="text", data-ng-model="quiz_short_ans")
								button#btn(type="button", data-ng-click="quiz_ans_send(0)")
									| Send
	#right_twit()
		div#chatArea(data-ng-model="chat_log")
			ul#chatList
				li(data-ng-repeat="chat in chat_log")
					| {{chat.time}} :
					| {{chat.src_name}} :
					| {{chat.message}}
		div#inputArea
			input#inputMessage(type="text", data-ng-model="chat_message")
			button#btnChat.btn.btn-default(type="button", data-ng-click="send_chat()")
				| Send
		div#quizStatArea()
			canvas#quizChart(width="380", height="300")	 
	#q()
		div#q_log()
			canvas#chart(width="1080", height="150")