.row(data-ng-controller='NavCtrl')
	.col-xs-5
		button.btn.btn-default(data-ng-click="launch('newLecture')", act-nav, data-access-level='accessLevels.user')
			span.glyphicon.glyphicon-plus() 
			| New Lecture
    
	.col-xs-7
		input.form-control(type='text', data-ng-model="query", placeholder="Search for a lecture")

.row
	.col-xs-12
		hr

table.table
	thead
		tr
			th() Lecture Title
			th() Description
			th Lecture Type
	tbody(data-ng-switch, on="lectures.length")
		tr(data-ng-switch-when="0")
			td
				| No lecture in databases. Would you like to create one?
			td
		tr(data-ng-repeat="lecture in lectures | filter:query")
			td
				a(data-ng-click="launchLecture(lecture._id)")
					| {{lecture.title}}
			td
				| {{lecture.description}}
			td
				div(data-ng-switch, on="lecture.status")
					div(data-ng-switch-when="1")
						| Live
					div(data-ng-switch-when="0")
						| VOD