.row(data-ng-controller='NavCtrl')
	.col-xs-5
		button.btn.btn-default(data-ng-click="launch('newLecture')", act-nav, data-course-access-level='courseAccessLevels.tutor')
			span.glyphicon.glyphicon-plus() 
			| New Lecture
    
	.col-xs-7
		input.form-control(type='text', data-ng-model="query", placeholder="Search for a lecture")

.row
	.col-xs-12
		hr

div(data-ng-switch, on="lectures.length")
	div(data-ng-switch-when="0")
		| No lecture in databases. Would you like to create one?
	div(data-ng-repeat="lecture in lectures | filter:query")
		div.lecturedesc.post.content.well
			a(data-ng-click="launchLecture(lecture._id)")
				//img.thumbnail(src="/thumb/{{$index+1}}.jpg")
				img.lecture.thumbnail(src="/thumb/{{lecture.title}}.jpg")
			div.well.lecturedesc.post-desc
				p.content.title
					a(data-ng-click="launchLecture(lecture._id)")
						| {{lecture.title}}
				p.content.abstract
					strong
						| Description
					br
					| {{lecture.description}}
				p.content.tutor
					strong
						| Lecture Type
					div(data-ng-switch, on="lecture.status")
						div(data-ng-switch-when="1")
							| Live
						div(data-ng-switch-when="0")
							| VOD
			

