div()
  table.table.table-bordered
    tbody
      tr
        td title
        td
              {{lecture.title}}
        tr
        td description
        td
              {{lecture.description}}
        tr
        td Live/VOD
        td
              {{lecture.status}}

.well
    a.btn.btn-primary(href="/courses/course/{{course._id}}/lectures/lecture/{{lecture._id}}/edit")
        i.icon-edit.icon-white Edit
    a.btn.btn-danger(type='submit', data-ng-click='deleteLecture()')
        i.icon-remove.icon-white Delete
