
body			{ height:100%; font-size:12px; color:#000; font-family:Malgun Gothic,Dotum,Gulim,Helvetica,AppleGothic,Sans-serif; margin:0px auto;  position:relative; text-align:center; min-width:1000px; max-width:1140px;}

article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary{
	display:block;
}
header{
	margin:10px 0;
	height:100px;
}
hgroup{
	float:left;
	text-align:left;	
}
h1.logo{
	font-size: 4.0em;
}


div#content{
	height:635px;
}

#left_video{
	float:left;
	height:530px;
	background-color:#ffffff;
	margin-right:5px;
	border-radius: 4px;
	width: 560px;
}
#right_twit{
	float:left;
	//overflow:auto;
	//width:100%;
	//height:100%;
	background-color:#ffffff;
	border-radius: 4px;
	width:520px;
}

ul#chatList{
	margin-left: -50px;
}

div.tools{
	float:left;
	width:272px;
	height: 360px;
}

div#q{
	float:left;
	width:1088px;
	height: 180px;
	margin-top:5px; 
	background-color:white;
}
div#attendance{
	float:left;
	width:100%;
	height: 318px;
	padding: 5px; 
	background-color:white;
	border: 1px solid #000000;
}
div#attendee{
	width:100px;
	float:left;
}
div#quizStatArea{
	background-color:white;
}
footer{
	margin-top:20px;
	height:30px;
}
div#kaisqr_canvas {
	//float:left;
	display:inline-block;
	width: 100%;
	height: 100%;
}
div#video{
	padding:5px;
	float:none;
	top:20px;
	left:20px;
	width: 550px;
	height: 415px;
	background-color:#7EABCE;
	color:#111;
	border-radius: 4px;
}
div.tutorVideo{
	width: 540px;
	height: 405px;
}
div.studentVideo{
	width: 540px;
	height: 405px;
}
div#lecture_ctrl{
	position: relative;
	float: left;
	width: 540px;
	height: 120px;
	padding: 0px;
}
div#util{
	width:100%;
	//height:50px;
	margin-top:5px;
	max-height: 170px;
	background-color: #ffffff;
}
div#tutorCtrl{
	width: 550px;
	height: 105px;
	background-color: #000000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	padding: 10px;
}
div#studentCtrl{
	width: 550px;
	height: 105px;
	background-color: #000000;
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
}

div#chatModule{
	float:left; 
	width:100%; 
	height:318px; 
	background-color:gray;
}
div#chatArea{
	border:#3F7AA7;
	border-width:1px;
	border-style:groove;
	height: 274px;
	overflow: scroll;
    overflow-x: hidden;
    margin:0px;
}
div.chat{
	width: 100%;
	min-width: 250px;
	max-width: 500px;
}
div#inputArea{
	overflow:hidden;
}
input#inputMessage{
	float: left;
	width: 72%;
}
div.stream{
	overflow: hidden;
}
div.stream::-webkit-scrollbar{
	display: none;
}
div.#kaisqr_canvas{
	position:relative;
	float:left;
	background-color: #ffffff;
	width:100%;
	height:318px;
}
div#kaisqr_canvas canvas {
	border: 1px solid #000000;
}
.q_button{
	position:relative;
	float:left;
	left:5px;
	top:10px;
	width:65px;
	height:80px;
	vertical-align:bottom;
	padding: 0px;
}

.quiz_button{
	position:relative;
	float:left;
	left:20px;
	top:40px;
	height:80px;
	vertical-align:bottom;
	margin:10px 10px 10px 10px;
}

.tutor_button{
	width:120px;
	height:80px;
	vertical-align:bottom;
	font-weight:bolder;
	font-size:2em;
	top: 10px;
}

.btn{
	margin:3px;
}
#question_container{
	position:relative;
}
.big_font
{
	font-weight:bolder;
	font-size:4em;

}
.middle_font
{
	font-weight:bolder;
	font-size:3em;
}

.a_button{
	position:relative;
	float:left;
	background-color: #7EABCE;
	left:20px;
	width:40px;
	height:30px;
	vertical-align:bottom;
	margin:10px;
}

#live_question {
	position:relative;
	float:left;
	left:10px;
	top:10px;
	background-color:#EEE;
	width:390px;
	height:80px;
	border-radius:4px;
	margin-top: 3px;
}
#question_msg{
	width:400px;
	height:40px;
	font-weight:bolder;
	font-size:2em;
	color:black;
}
.doing
{
	font-weight:bold;
	font-size:1.5em;
	color:white;
}

div.growlUI { background: url('http://jquery.malsup.com/block/check48.png') no-repeat 10px 10px ;

}
div.growlUI h1, div.growlUI h2 {
		font-size:4em;
	color: white; padding: 5px 5px 5px 75px; text-align: left;
}

.btn-big {
	width: 200px;
	height: 85px;
}

.btn-send {
	background-color : #E1E1E8;
	border-color: #DDD #DDD #CCC;
border-bottom-left-radius: 4px 4px;
border-bottom-left-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-bottom-right-radius: 4px 4px;
border-style: solid;
border-width: 1px;
border-top-left-radius: 4px 4px;
border-top-left-radius: 4px 4px;
border-top-right-radius: 4px 4px;
border-top-right-radius: 4px 4px;
	float:left;
	width:60px;
	display:inline-block;
	text-align:center;
	font-size:13px;
	padding:6px 6px 6px 6px;
	margin-left:3px;
}
#kaisqr_presentation{
	float:left;
	position:relative;
	width:520px;
	height:485px;
}
#popup_slide{
	position:relative;	
}
#slide {
	position:relative;
	width:520px;
	height:410px;
}
#slide_pen{
	position:relative;
	width:520px;
	height:410px;
	top:-410px;
}
#presentation_controller{
	position:relative;
	top:-400px;
}

.btn-disabled {
	disabled:disabled;
}