.modal-header
     h1 Edit Course

.modal-body
    form(role="form", data-ng-submit="updateCourse()")
        .form-group
            label(for="courseTitle") Title
            input#courseTitle.form-control(type="text", data-ng-model="course.title", value='{{course.title}}', data-ng-required="true")
        .form-group
            label(for="courseAbstract") Abstract
            input#courseAbstract.form-control(type="text", data-ng-model="course.abstract",  value='{{course.abstract}}', data-ng-required="true")
        .form-group
            label(for="courseDescription") Description
            input#courseDescription.form-control(type="text", data-ng-model="course.description",  value='{{course.description}}', data-ng-required="true")
        .form-group
            label(for="courseTutor") Course Instructor
            input#courseTutor.form-control(type="text", data-ng-model="user.username")
            | {{ user.username }}
        .form-group
            label(for="courseHidden") Open
            input#courseHidden.form-control(type="checkbox", data-ng-model="course.hidden",  value='{{course.hidden}}')
 

        .modal-footer 
            button.btn.btn-danger(ng-click="cancel()")
                | Cancel
            button.btn.btn-primary.pull-right(type="submit") Update Course !
             