ul.breadcrumb
    li
       a(href='/courses') Courses
       span.divider /
    li
       a(href='/courses/course/{{course._id}}') {{course.title}}
       span.divider /
    li.active
       a(href='#') Edit Course
.page-header
  h1 Edit course

form(role="form", data-ng-submit="updateCourse()")
    .form-group
        label(for="courseTitle") Title
        input#courseTitle.form-control(type="text", data-ng-model="course.title", value='{{course.title}}')
    .form-group
        label(for="courseAbstract") Abstract
        input#courseAbstract.form-control(type="text", data-ng-model="course.abstract",  value='{{course.abstract}}')
    .form-group
        label(for="courseDescription") Description
        input#courseDescription.form-control(type="text", data-ng-model="course.description",  value='{{course.description}}')
    .form-group
        label(for="courseTutor") Course Instructor
        input#courseTutor.form-control(type="text", data-ng-model="user.username")
        | {{ user.username }}
    .form-group
        label(for="courseHidden") Open
        input#courseHidden.form-control(type="checkbox", data-ng-model="course.hidden",  value='{{course.hidden}}')
 

 
    .row
        .col-xs-6
            a.btn.btn-default(href="/courses", role="button")
                span.glyphicon.glyphicon-arrow-left Back to Course List
        .col-xs-6
            button.btn.btn-primary.pull-right(type="submit") Update Course !
             