ul.breadcrumb
    li
        a(href='/courses') Courses
        span.divider /
    li.active
        a(href='#') Hehu
 //      != linkTo('/courses', path_to.posts())

.page-header
  h1 Courses

.row
    .col-xs-5
        a.btn.btn-default(href='/courses/new') span.glyphicon.glyphicon-plus() New Poll
    .col-xs-7
        input.form-control(type='text', data-ng-model="query", placeholder="Search for a course")

.row
    .col-xs-12
        hr

.row(data-ng-switch, on="courses.length")
    ul(data-ng-switch-when="0")
        li
            em
                No Polls in databases. Would you like to craete one?
    ul(data-ng-switch-default)
        li(ng-repeat="course in courses | filter:course_query")
            a(href="/courses/course/{{course._id}}"){{course.title}}


//.row
//  .span12
//     p
//        != linkTo('<i class="icon-plus icon-white"></i> New post', path_to.new_post(), {class: 'btn btn-primary'})

//- if (posts.length) {
//.row
//  .span12
//     table.table.table-striped
//       thead
//         tr
//           th ID
//           th.span3 Actions
//       tbody
//         - posts.forEach(function (post) {
//         tr
//           td
//             != linkTo('post #' + post.id, path_to.post(post))
//           td
//             != linkTo('<i class="icon-edit"></i> Edit', pathTo.edit_post(post), {class: 'btn btn-mini'}) + ' '
//             != linkTo('<i class="icon-remove icon-white"></i> Delete', pathTo.post(post), {class: 'btn btn-mini btn-danger', method: 'delete', remote: true, jsonp: '(function (u) {location.href = u;})'})
//         - });
//- } else{
//.row
//  .span12
//     p.alert.alert-block.alert-info
//        strong No posts were found.
//- }
