.page-header
	h1 Courses
.row(data-ng-controller='NavCtrl')
	.col-xs-5
		button.btn.btn-default(data-ng-click="launch('newCourse')", act-nav, data-access-level='accessLevels.user')
			span.glyphicon.glyphicon-plus() 
			| New Course         
	.col-xs-7
		input.form-control(type='text', data-ng-model="query", placeholder="Search for a course")
.row
	.col-xs-12
		hr
		
div(data-ng-switch, on="courses.length")
	div(data-ng-switch-when="0")
		| No course in databases. Would you like to create one?
	div(data-ng-repeat="course in courses | filter:query")
		div.post.content.well
			a(href="/courses/course/{{course._id}}")
				//img.thumbnail(src="/thumb/{{$index+1}}.jpg")
				img.course.thumbnail(src="/thumb/{{course.title}}.jpg")
			div.well.post-desc
				p.content.title
					a(href="/courses/course/{{course._id}}")
						| {{course.title}}
				p.content.abstract
					strong
						| Abstract
					br
					| {{course.abstract}}
				p.content.tutor
					strong
						| Tutors
					ul
						li(data-ng-repeat="user in course.usersData | adminFilter")
							| {{user.user.username}}
			