.page-header
	h1
		| Course {{course.title}}
		div(style="float:right")
			button.btn.btn-success(data-ng-click="enroll()",  data-course-access-level='courseAccessLevels.anon')
				span.glyphicon.glyphicon-plus() 
				| Enroll
			button.btn.btn-danger(data-ng-click="quit()",  data-course-access-level='courseAccessLevels.user')
				| Quit

alert(data-ng-repeat="alert in alerts" type="alert.type" close="closeAlert($index)") 
	| {{alert.msg}}



accordion(close-others="false")
	accordion-group(heading="Information", is-open="true")
		div.lectureinfo
			div.lecturethumb.floatleft
				img.thumbnail(src="/thumb/{{course.title}}.jpg")
			div.atglance.well.floatleft
				p.atglancetitle
					| Course At Glance
				p
					strong.atglacesmalltitle
						| Abstract
					p
						| {{course.abstract}}
				p
					strong.atglacesmalltitle
						| Description
					p
						| {{course.description}}
				p
					strong.atglacesmalltitle
						| Tutors
					div(data-ng-switch="course.users.length", data-course-user-list)
						ul(data-ng-switch-when="0")
							| There's no tutor!!!
						ul(data-ng-switch-default)
							li(data-ng-repeat="user in course.usersData | adminFilter")
								| {{user.user.username}}
				strong.atglacesmalltitle
					div(data-ng-switch="course.hidden")
						p(data-ng-switch-when="true")
							span.glyphicon.glyphicon-eye-close
							|   Hidden
						p(data-ng-switch-when="false")
							span.glyphicon.glyphicon-eye-open
							|   Open 
						

	accordion-group(heading="Lectures", is-open="true")
		#lectureContent.container(lecture-nav)
		//#lectureContent.container(oc-lazy-load="lazyLoadParams")
	div( data-course-access-level='courseAccessLevels.tutor')
		accordion-group(heading="Students", is-open="true")
			div()
				table.table.table-bordered
					thead
						tr
							th 
								| User Name
							th 
								| Role
					tbody
						tr(data-ng-repeat="u in course.usersData")
							td
								| {{u.user.username}}
							td
								button.btn.btn-success(type="button", data-ng-click="acceptStudent($index)", data-course-access-level='courseAccessLevels.anon') 
									| Accept
								button.btn.btn-danger(type="button", data-ng-click="quit($index)", data-course-access-level='courseAccessLevels.tutor') 
									| Quit

.well(data-course-access-level='courseAccessLevels.tutor')
	//a.btn.btn-primary(href="/courses/course/{{course._id}}/edit")
	button.btn.btn-primary(data-ng-click="launch('editCourse')", act-nav)
		i.icon-edit.icon-white Edit
	a.btn.btn-danger(type='submit', data-ng-click='deleteCourse()', act-nav)
		i.icon-remove.icon-white Delete
		
